.body__left {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 280px;
    position: sticky;
    top: 60px;
    left: 0;
    height: 100vh;
}

.left-top {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(223, 223, 223);
}

@media only screen and (max-width: 1250px) {
    .body__left {
        display: none;
    }
}