.cell {
    height: 100%;
    width: 110px;
    border-radius: 20px;
    background-color: rgb(69, 101, 219);
    position: relative;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    margin: 0 3px;
    transition: all 0.1s;
    cursor: pointer;
}

.cell__title {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 12px;
    background-color: white;
    height: 25%;
    display: flex;
    border-radius: 0 0 20px 20px;
    justify-content: center;
    padding-top: 30px;
}

.cell .add-story {
    background-color: rgb(4, 119, 220);
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    color: white;
    border: 5px solid white;
    left: 35px;
    height: 40px;
    width: 40px;
    padding: 5px;
}

.cell__username {
    color: #333;
}

.cell .cell__avatar {
    position: absolute;
    height: 35px;
    width: 35px;
    padding: 5px;
    top: 10px;
    left: 10px;
    border: 3px solid white;
    cursor: pointer;
}

.cell .cell__avatar:hover {
    background-color: rgb(126, 126, 126);
}

.cell .cell__username {
    position: absolute;
    font-size: 13px;
    bottom: 5px;
    left: 10px;
    color: white
}