.posts {
    width: 100%;
    padding: 10px 0 5px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #333;
    border-radius: 9px;
    margin-top: 15px;
}

.posts__info {
    display: flex;
    width: 100%;
    padding: 0 15px;
    align-items: center;
}

.post__info__text {
    margin-left: 10px;
}

.post__info__text>h2 {
    font-size: 16px;
    font-weight: 700;
}

.post__info__text>h3 {
    font-size: 12px;
    font-weight: 300;
}

.posts__title {
    padding: 15px;
    font-size: 16px;
}

.posts__media img {
    width: 100%;
    object-fit: contain;
}

.posts__interact {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
    border-bottom: 1px solid rgb(196, 190, 190);
    padding-bottom: 10px;
}

.posts__interact-left .interact__option .MuiSvgIcon-root {
    color: rgb(43, 62, 228);
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.posts__interact-right {
    display: flex;
    align-items: center;
}

.interact__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
}

.interact__option>h3 {
    font-size: 14px;
    font-weight: 400;
}

.interact__option:last-child {
    margin: 0;
}

.posts__interact-right .interact__option .MuiSvgIcon-root {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    color: rgb(154, 152, 152);
}

.posts__actions {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
}

.action__option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 7px 0;
    border-radius: 9px;
}

.action__option:hover {
    background-color: rgb(236, 236, 236);
}

.action__option>h3 {
    font-size: 14px;
    color: rgb(111, 111, 111);
    margin-left: 5px;
}

.action__option .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
    color: rgb(154, 152, 152);
}